doctype html
html
  head
    meta(charset="UTF-8")
    title FreeCodeCamp - Simon

    link(href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet")
    link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel="stylesheet" href="css/style.css")

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    script(src="js/index.js")
  body
    .container-fluid.img-responsive
      #simon
        .row
          .col-xs-6
            button#color-btn-0.color-btn
          .col-xs-6
            button#color-btn-1.color-btn
        .row
          .col-xs-6
            button#color-btn-2.color-btn
          .col-xs-6
            button#color-btn-3.color-btn
        #button-circle
          #inner-button-circle
            .row
              .col-xs-12
                #title.text-center
                  | Simon
            .row.middle-row
              .col-xs-5
                #count-box.text-center
                  | --
              .col-xs-2
                button#start-btn.simon-btn
              .col-xs-5
                .row.text-center
                  #strict-light
                .row.text-center
                  button#strict-btn.simon-btn
            .row.middle-row
              .col-xs-4
                #count-label
                  | Count
              .col-xs-4
                #start-label
                  | Start
              .col-xs-4
                #strict-label
                  | Strict
            .row
              .col-xs-4
                #off.text-right
                  | Off
              .col-xs-4
                label.switch
                  input(type="checkbox")#power-switch
                  span.slider
              .col-xs-4
                #on.text-left
                  | On
